@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Sigmar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-self;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: blue;
    background-color: violet;
    background-color: pink ;  
}

h1{
    font-size: 5rem;
}

main {
    display:flex;
    background-color: rgb(0, 0, 0, 0.0.3);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 5px 5px 10px rgb(221, 219, 219);

    align-items: center;
    justify-content: center;
    font-weight: bold;
    backdrop-filter: blur(10px);
}

.contador-elemento {
    text-align: center;
    margin: 5px;
}

.contador-elemento span{
    font-size: 15px;
}

p{
    font-size: 30px;
    margin: 0 2px;
    line-height: 1;
}

footer {
    position: absolute;
    bottom: 20px;
    background-color: rgba(128, 128, 128, 0.4);
    padding: 0 10px;
    border-radius: 5px;
    font-style: italic;
}